## Use 4-space tabsize
set tabsize 4

## Don't display the helpful shortcut lists at the bootom of the screen
set nohelp

## Don't add newlines to the ends of files.
set nonewlines

## Don't wrap text at all.
set nowrap

## Nanorc syntax
include /usr/share/nano/asm.nanorc
include /usr/share/nano/autoconf.nanorc
include /usr/share/nano/c.nanorc
include /usr/share/nano/css.nanorc
include /usr/share/nano/html.nanorc
include /usr/share/nano/lua.nanorc
include /usr/share/nano/makefile.nanorc
include /usr/share/nano/nanorc.nanorc
include /usr/share/nano/patch.nanorc
include /usr/share/nano/php.nanorc
include /usr/share/nano/python.nanorc
include /usr/share/nano/sh.nanorc
include /usr/share/nano/xml.nanorc

## Key bindings.
bind ^S savefile main
bind M-Q findprevious main
bind M-W findnext main
bind M-B cutwordleft main
bind M-N cutwordright main
bind Del backspace all
